<main class="container">

  <div *ngIf="!isInEditMode" class="content container">
    <h3 class="taskName"> {{ taskName }} </h3>
    <p class="taskDescription"> {{ taskDescription }} </p>
    <div class="buttonWrapper">
      <button
        (click)="editBtnClick()"
      > Edit
      </button>
      <button
        (click)="deleteBtnClick()"
      > Delete
      </button>
    </div>
  </div>

  <div *ngIf="isInEditMode" class="edit container">
    <input
      [(ngModel)]="taskName"
      class="taskName"
      type="text"
    >
    <input
      [(ngModel)]="taskDescription"
      class="taskDescription"
      type="text"
    >
    <div class="buttonWrapper">
      <button
        (click)="cancelEdit()"
      > Cancel
      </button>
      <button
        (click)="confirmEdit()"
      > Confirm
      </button>
    </div>
  </div>

</main>
