<main class="container">

  <div class="content container" [hidden]="isInEditMode">
    <h3 class="taskName"> {{taskName}} </h3>
    <p class="taskDescription"> {{taskDescription}} </p>
    <div class="buttonWrapper">
      <button
        (click)="editBtnClick()"
      > Edit </button>
      <button
        (click)="deleteBtnClick()"
      > Delete </button>
    </div>
  </div>

  <div [hidden]="isInEditMode" class="edit container" >
    <input
      type="text"
      class="taskName"
      [(ngModel)]="taskName"
    >
    <p class="taskDescription"> {{taskDescription}} </p>
    <div class="buttonWrapper">
      <button
        (click)="editBtnClick()"
      > Edit </button>
      <button
        (click)="deleteBtnClick()"
      > Delete </button>
    </div>
  </div>

</main>
